#about,#labs  {
	max-width: 960px;
	margin: 0 auto;
}

#about h2 {
	text-transform: uppercase;
	color: #52B3D9;
	border-bottom: 2px solid #52B3D9;
}
#about h3, #labs h3 {
	margin: 0;
}
#about p, #labs p {
	line-height: 1;
}
#about md-dialog, #labs md-dialog {
	margin:0;
	max-width: 99%;
	border-radius: 1px;
}
#about md-dialog md-content, #labs md-dialog md-content {
	padding:10px;
}
#about md-dialog .md-actions, #labs md-dialog .md-actions {
	padding:8px;
}
#about [flex], #labs [flex] {
	margin: 2px 0;
}
.description {
	background-color: #eee;
	/*margin-left: 1%;*/
	margin-bottom: 10px;
	padding: 10px;
}
.description ul {
	background-color: #fff;
}
.year {
	float: right;
  	padding: 3px;
	font-weight: 500;
	font-style: italic;	
}
.list-group-item {
	padding: 3px;
	list-style-type: square;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.contact-item {
	width: 100%;
	float: left;
}

.contact-item .detail { 
	padding-top: 8px;
	width: calc(100% - 55px);
}
.contact-item .icon {
	padding: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #32475c;
	background: #eee;
}
.interest, .skill {
	  color: #fff;
	  display: inline-block;
	  margin-right: 5px;
	  margin-bottom: 5px;
	  padding: 5px 10px;
	  background: #52B3D9;
	  position: relative;
	  font-size: .85em;
}
#skills h3 {
	padding-bottom:2px;
}