#sideBarLeft .image {
	position: relative;
	width: 128px;
	height: 128px;
	display: inline-block;
	overflow: hidden;
	margin: 0px;
	vertical-align: middle;
	zoom:0.5;
}
#side-nav {
	background-color: #f8f8f8;
}
#side-nav.md-default-theme .md-button {
	color:black;
}

#side-nav-title {
	color: black;
	margin:auto;
	padding-top:5px;
}
.side-item-text-wrap {
	display:inline-block;
	padding-left:20px;
}

.side-item-text-wrap h3 {
	color:#D63333;
}