<div ng-class="{navbarabout: isActive('/about'), navbarlabs: isActive('/labs'), navbarcontact: isActive('/contact')}"
class="md-toolbar-tools">
    <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>
  <h2>
    <span id="nav-name">Corey J. Durthaler</span>
  </h2>
  <section flex offset-gt-sm="80" id="nav-buttons" layout="row" layout-align="start center" hide-sm>
    <md-button class="nav-button"><span>Home</span></md-button>
    <md-button class="nav-button" ng-class="{ activeabout: isActive('/about')}" ui-sref="about"><span>About Me</span></md-button>
    <md-button class="nav-button" ng-class="{ activelabs: isActive('/labs')}" ui-sref="labs"><span>Labs</span></md-button>
    <md-button class="nav-button" ng-class="{ activecontact: isActive('/contact')}" ui-sref="contact"><span>Contact</span></md-button>
    <span flex></span>
    <div id="nav-social" layout="row" layout-align="end center" hide-md>
      <md-button class="md-icon-button" aria-label="Favorite">
        <a href="http://www.linkedin.com/pub/corey-durthaler/45/882/313" class="btn btn-social-icon btn-linkedin">
            <i class="fa fa-linkedin"></i>
        </a>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <a href="https://github.com/cdurth" class="btn btn-social-icon btn-github">
            <i class="fa fa-github"></i>
        </a>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <a href="https://github.com/broadmarkio" class="btn btn-social-icon btn-github">
            <i class="fa fa-envelope"></i>
        </a>
      </md-button>
    </div>
  </section>
</div>